### To know mopre about this dataset please visit :
https://www.drivendata.org/competitions/2/warm-up-predict-blood-donations/page/7/


https://www.kaggle.com/datasets/bonastreyair/predicting-blood-analysis

In [1]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('Data/Warm_Up_Predict_Blood_Donations_-_Traning_Data.csv')
data

,Unnamed: 0,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation,Made Donation in March 2007
0,619,2,50,12500,98,1
1,664,0,13,3250,28,1
2,441,1,16,4000,35,1
3,160,2,20,5000,45,1
4,358,1,24,6000,77,0
...,...,...,...,...,...,...
571,698,23,1,250,23,0
572,433,16,3,750,86,0
573,360,21,2,500,52,0
574,541,39,1,250,39,0
575,74,72,1,250,72,0